<!-- tilesstyle (Tami Takada, Liesel Wong, Shyne Choi, Emma Buller)
SoftDev
P4 -- Le Fin (Final Project)
2022-06-26 -->

  {% extends "base.html" %}
  {% block title %}My Space{% endblock %}
  {% block content %}

  <h1> MY SPACE</h1>
  <h2> canvas</h2>
  <div class="flex-container">
    <canvas height="600" width="600" id="slate">
      dis dat alt txt tho
    </canvas>
    <div style="flex-basis:300px">
    <button onClick="changeColor('blue')">Blue</button>
    <button onClick="changeColor('red')">Red</button>
    <button onClick="changeColor('green')">Green</button>
    <button onClick="changeColor('yellow')">Yellow</button>
    <button onClick="changeColor('orange')">Orange</button>
    <button onClick="changeColor('brown')">Brown</button>
    <button onClick="changeColor('black')">Black</button>
    <button onClick="changeColor('gray')">Gray</button>
    <button onClick="changeColor('fuchsia')">Pink</button>
    <button onClick="changeColor('aqua')">Aqua</button>
    </div>
  </div>
<script src="{{ url_for('static', filename='js/canvas.js') }}"></script>
{% endblock %}
