.nav-bar{
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }
  li {
    float: left;
    a {
    display: block;
    color: white;
    text-align: center;
    padding-right: 14px;
    padding-top: 6px;
    padding-bottom: 8px;
    text-decoration: none;
    }
  }
}
